@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
nav {
  background-color: whitesmoke;
  display: flex;
  padding: 15px;
}

.left-side {
  width: 50%;
}

.left-side ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.left-side ul li {
  margin-right: 30px;
}

.left-side ul li a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
  padding: 10px;
  border-radius: 10px;
}

.left-side ul li a:hover {
  background-color: #fd4e2f;
  color: white;
}

.left-side ul li a.active-page {
  color: white;
  background-color: #fd4e2f;
}

.left-side ul li img {
  max-height: 49px;
}

.right-side {
  display: flex;
  width: 50%;
  justify-content: end;
  align-items: center;
}

.right-side a {
  text-decoration: none;
  padding: 10px;
  background-color: #fd4e2f;
  color: whitesmoke;
  border-radius: 5px;
  margin-right: 25px;
}

#barsmenu {
  display: none;
}

Header .hamburger-menu {
  background-color: lavenderblush;
  padding: 10px;
  display: none;
}

Header .hamburger-menu ul {
  list-style-type: none;
  text-align: center;
  font-weight: bold;
}

Header .hamburger-menu ul li {
  padding: 15px;
}

Header .hamburger-menu ul li a {
  color: black;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.2s;
}

Header .hamburger-menu ul li a:hover {
  background-color: #fd4e2f;
  color: white;
}

Header .hamburger-menu ul li .active-page {
  background-color: #fd4e2f;
  color: white;
}

/* MAIN */
main {
  width: 100%;
}

section.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.container > h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

section.container .rating-container {
  width: 30%;
  margin: auto;
}

section.container .rating-container h2 {
  text-align: center;
}

section.container .rating-container .rating-option {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

section.container .rating-container .rating-option .rating-btn {
  background-color: #fd4e2f;
  color: white;
  padding: 5px 8px;
  width: 50px;
  border-radius: 5px;
}

section.container .rating-container .rating-option .rating-btn.active {
  background-color: #fd4e2f;
  color: white;
}

section.container .testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 2em;
  margin: 30px 0;
}

section.container .testimonials .testimonial {
  border-radius: 10px;
  box-shadow: 0 0 20px #d5d5d5;
  padding: 10px;
  width: 25%;
  display: flex;
  flex-direction: column; /* Menjadikan .testimonial sebagai flex container dengan arah kolom */
  justify-content: space-between;
}

section.container .testimonials .testimonial .image {
  overflow: hidden;
  position: relative;
}

section.container .testimonials .testimonial .image .rating {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fd4e2f;
  color: white;
  padding: 3px 10px;
  margin: 10px;
  font-size: 0.8em;
  border-radius: 5px;
}

section.container .testimonials .testimonial .image img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}

section.container .testimonials .testimonial .image img:hover {
  transform: scale(1.2);
}

section.container .testimonials .testimonial p.quote {
  text-align: justify;
  font-style: italic;
}

section.container .testimonials .testimonial .description {
  display: flex;
  gap: 1em;
}

section.container .testimonials .testimonial .description > img {
  width: 60px;
  height: 60px;
  align-self: center;
  border-radius: 10px;
}

section.container .testimonials .testimonial .description .person .name {
  font-weight: bold;
}

section.container .testimonials .testimonial .description .person a {
  color: #fd4e2f;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .hide-item {
    display: none;
  }

  #barsmenu {
    display: flex;
  }

  section.container .testimonials {
    gap: 1em;
  }

  section.container .testimonials .testimonial {
    width: 42%;
  }
}

@media screen and (max-width: 550px) {
  section.container .testimonials .testimonial {
    width: 90%;
  }
  section.container .rating-container {
    width: 90%;
  }
}
